<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatter plot</title>
    <script defer src="./visualization.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <h1>Scatter plot</h1>
    <a href="/scatterplot/new">Add new data point</a>
    <div id="scatter-plot-visualization"></div> <!-- D3 SVG container -->
    <div>
        <ul>
            <% for (const [index, dataPoint] of dataPoints.entries()) { %>
                <li> 
                    <a href="/scatterplot/<%= dataPoint._id %>">
                        (<%= dataPoint.xPos %>, <%= dataPoint.yPos %>) 
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>

<!-- Convert dataPoints into a format that can be parsed as JSON into an array of objects which is what D3 expects as its .data format -->
<div id="dataArray">
    <p> [
    <% for (const [index, dataPoint] of dataPoints.entries()) { %> <!-- Loop through dataPoints to clean up the object format -->
        <% if(index + 1 != dataPoints.length) { %> <!-- Add a comma after each object unless it's the last object -->
           {"xPos": <%= dataPoint.xPos %>, "yPos": <%= dataPoint.yPos %>},
        <% } else { %> <!-- This should only apply to the last object -- excludes the comma afterwards -->
           {"xPos": <%= dataPoint.xPos %>, "yPos": <%= dataPoint.yPos %>}
        <% } %>
    <% } %>
        ]
    </p>
</div>